Repository Chalarangelo/30-seconds-of-code, changes with the labels that .github/labeler.yml gives for each.
All labels: js, css, html, git, python, react, snippet, collection

.github/labeler.yml:

js:
  - snippets/js/s/*.md
  - collections/js/*.yaml
css:
  - snippets/css/s/*.md
  - collections/css/*.yaml
html:
  - snippets/html/s/*.md
  - collections/html/*.yaml
git:
  - snippets/git/s/*.md
  - collections/git/*.yaml
python:
  - snippets/python/s/*.md
  - collections/python/*.yaml
react:
  - snippets/react/s/*.md
  - collections/react/*.yaml
snippet:
  - snippets/**/*.md
collection:
  - collections/**/*.yaml

Added snippet for Responsive Image with srcset
  snippets/html/s/responsive-image-with-srcset.md
Labels: html, snippet

added new python snippet to convert miles to kilometers
  snippets/python/s/miles-to-kilometers.md
Labels: python, snippet

Add new snippet in python.
  assets/cover/hiking.jpg
  snippets/python/s/product.md
Labels: python, snippet

Added inches to cm
  snippets/python/s/inches-to-cm.md
  snippets/python/s/miles-to-kilometers.md
Labels: python, snippet

kelvin to celsius dergees
  snippets/python/s/kelvin-to-celsius.md
Labels: python, snippet

kelvin to celsius degrees
  snippets/python/s/kelvin-to-celsius.md
Labels: python, snippet

how-js-code-runs-snippet
  snippets/js/s/how-javascript-code-runs.md
Labels: js, snippet

find-nth-maximum-distinct method created
  snippets/python/s/find-nth-maximum-distinct.md
Labels: python, snippet

Update swap-variables.md
  snippets/python/s/swap-variables.md
Labels: python, snippet

Update is-even.md
  snippets/python/s/is-even.md
Labels: python, snippet

Update is-odd.md
  snippets/python/s/is-odd.md
Labels: python, snippet

create new snippets to check string is palindrome or not
  snippets/js/s/isPalindrome.md
Labels: js, snippet

Update is-even-bitwise.md
  snippets/python/s/is-even-bitwise.md
Labels: python, snippet

Added is-even-bitwise.md
  snippets/python/s/is-even-bitwise.md
Labels: python, snippet

added description is-even-bitwise.md
  snippets/python/s/is-even-bitwise.md
Labels: python, snippet

Added python snippet code
  snippets/python/s/regex-terminal-letter-matches.md
Labels: python, snippet

Update regex-terminal-letter-matches.md
  snippets/python/s/regex-terminal-letter-matches.md
Labels: python, snippet

Update regex-terminal-letter-matches.md
  snippets/python/s/regex-terminal-letter-matches.md
Labels: python, snippet

Update throttle-function.md
  snippets/js/s/throttle-function.md
Labels: js, snippet

Create pyramid pattern
  snippets/python/s/pyramid.md
Labels: python, snippet

Install jsiqle v2
  package-lock.json
  package.json
Labels: none

Install jsiqle v2
  package-lock.json
  package.json
Labels: none

Migrate codebase to jsiqle v2
  src/blocks/application.js
  src/blocks/models/author.js
  src/blocks/models/collection.js
  src/blocks/models/language.js
  src/blocks/models/pages/collectionPage.js
  src/blocks/models/pages/collectionsPage.js
  src/blocks/models/pages/homePage.js
  src/blocks/models/pages/snippetPage.js
  src/blocks/models/snippet.js
  src/blocks/writers/feedWriter.js
  src/blocks/writers/sitemapWriter.js
Labels: none

Migrate codebase to jsiqle v2
  src/blocks/application.js
  src/blocks/models/author.js
  src/blocks/models/collection.js
  src/blocks/models/language.js
  src/blocks/models/pages/collectionPage.js
  src/blocks/models/pages/collectionsPage.js
  src/blocks/models/pages/homePage.js
  src/blocks/models/pages/snippetPage.js
  src/blocks/models/snippet.js
  src/blocks/writers/feedWriter.js
  src/blocks/writers/sitemapWriter.js
Labels: none

Update README.md . Block quote not matching with the heading on the homepage of the 30SecondsOfCode website.
  README.md
Labels: none

Update README.md . Block quote not matching with the heading on the homepage of the 30SecondsOfCode website.
  README.md
Labels: none

Minor grammar, spelling and wording fixes.
  README.md
Labels: none

Add password generator snippet
  snippets/js/s/password-generator.md
Labels: js, snippet

added snippet for conversion from Decimal to Binary
  snippets/python/s/decimal-to-binary.md
Labels: python, snippet

snippets/js: pagination with infinite scroll
  snippets/js/s/pagination-with-infinite-scroll.md
Labels: js, snippet

snippets/js: async promise execution in limited parallelism
  snippets/js/s/async-promise-execution-in-limited-parallelism.md
Labels: js, snippet

snippets/js: asynchronous-generator-pipeline
  snippets/js/s/asynchronous-generator-pipeline.md
Labels: js, snippet

snippets/js: deep-freeze-object-with-proxies
  snippets/js/s/deep-freeze-object-with-proxies.md
Labels: js, snippet

snippets/js: asynchronous-iteration-with-for-await...of
  snippets/js/s/asynchronous-iteration-with-for-await...of.md
Labels: js, snippet

snippets/js: dynamically-computed-properties-with-proxy
  snippets/js/s/dynamically-computed-properties-with-proxy.md
Labels: js, snippet

snippets/js: set-nested-property-value
  snippets/js/s/set-nested-property-value.md
Labels: js, snippet

Fixed Error #1992
  snippets/js/s/parse-cookie.md
Labels: js, snippet

Added snippet for javascript notifications
  snippets/js/s/javascript-notification.md
Labels: js, snippet

fixed typo
  snippets/js/s/javascript-notification.md
Labels: js, snippet

add retry-on-error.md
  snippets/js/s/retry-on-error.md
Labels: js, snippet
