Repository Chalarangelo/30-seconds-of-code, pull requests merged in 2023-09, with the labels that each got.

#1999 fixes typo
  CONTRIBUTING.md
  snippets/js/s/event-loop-explained.md
Labels: js, snippet

#2010 Fix broken GitHub links
  src/blocks/models/snippet.js
Labels: backend, web

#2013 Update deploy workflows
  .github/workflows/deploy-production-manual.yml
  .github/workflows/deploy-production-push.yml
  .github/workflows/deploy-production.yml
  src/scripts/deploy.sh
Labels: backend, ci/cd, development, web

#2016 Issue #2015 Fix typo in event loop explanation
  content/snippets/js/s/event-loop-explained.md
Labels: js, snippet, content

#2017 footer space style fix
  src/components/Footer.astro
Labels: ui/ux, web

#2025 Fix unnecessary parameters in Queue class method and elaborated on explanation
  content/snippets/js/s/data-structures-queue.md
Labels: js, snippet, content

#2020 refactor: modify condition based on es2020
  content/snippets/js/s/value-frequencies.md
Labels: js, snippet, content

#2026 Housekeeping (Orion 9.0.0)
  CODE_OF_CONDUCT.md
  SECURITY.md
  package.json
  src/pages/about.astro
  src/pages/faq.astro
Labels: ui/ux, web
