Repository Chalarangelo/30-seconds-of-code, pull requests merged in 2023-05, with the labels that each got.

#1924 Community guidelines 2023
  CONTRIBUTING.md
  collection-template.yaml
  snippets/articles/story-template.md
  snippets/css/snippet-template.md
  snippets/css/story-template.md
  snippets/git/snippet-template.md
  snippets/git/story-template.md
  snippets/js/snippet-template.md
  snippets/js/story-template.md
  snippets/python/snippet-template.md
  snippets/python/story-template.md
  snippets/react/snippet-template.md
  snippets/react/story-template.md
Labels: enhancement

#1931 Create stale.yml
  .github/workflows/stale.yml
Labels: maintenance

#1933 HTML snippets (new and updated)
  snippets/html/s/alt-vs-title.md
  snippets/html/s/image-alt.md
  snippets/html/s/lazy-loading-images.md
  snippets/html/s/target-blank.md
Labels: snippet, html

#1934 Content optimization
  snippets/articles/s/bash-alias-dollar-sign.md
  snippets/articles/s/dns-record-basics.md
  snippets/html/s/lazy-loading-images.md
  snippets/js/s/6-regexp-tricks.md
  snippets/js/s/typecheck-proxy.md
  snippets/js/s/variable-hoisting.md
Labels: js, snippet, html

#1935 Turn some existing git snippets into stories
  snippets/git/s/automatic-push-upstream.md
  snippets/git/s/view-undo-history.md
Labels: git, snippet

#1936 Added is-perm
  snippets/python/s/iterable-is-permutation.md
Labels: python, snippet

#1937 Squash some git pieces
  snippets/git/s/automatic-push-upstream.md
  snippets/git/s/update-commit-contents.md
  snippets/git/s/update-commit-message-or-contents.md
  snippets/git/s/update-commit-message.md
  snippets/git/s/view-commits-summary-no-merges.md
  snippets/git/s/view-commits-summary.md
  snippets/git/s/view-undo-history.md
Labels: git, snippet

#1940 added a snippet for prime factors in python
  snippets/python/s/prime-factors.md
Labels: python, snippet

#1943 Convert git snippets to stories (4)
  snippets/git/s/fast-forward-merge.md
  snippets/git/s/merge-branch-merge-commit.md
  snippets/git/s/merge-branch.md
  snippets/git/s/rewind-n-commits.md
  snippets/git/s/rewind-to-commit.md
  snippets/git/s/undo-commit-without-rewriting-history.md
  snippets/git/s/undo-commit.md
  snippets/git/s/undo-last-commit.md
Labels: git, snippet

#1944 Move redirects to content repo
  redirects.yaml
Labels: maintenance
