Repository Chalarangelo/30-seconds-of-code, pull requests merged in 2023-10, with the labels that each got.

#2030 Fix/ footer setting path And URL redirection
  src/components/Footer.astro
Labels: ui/ux, web

#2031 Git magic links and some heading updates
  content/languages/git.yaml
  content/snippets/git/s/purge-file.md
  content/snippets/git/s/remove-file-from-commit.md
  content/snippets/git/s/view-undo-history.md
  src/components/Footer.astro
  src/pages/[lang]/[...listing].astro
  src/pages/about.astro
  src/settings/global.js
Labels: git, snippet, content, ui/ux, web

#2036 Content updates
  content/collections/js/node.yaml
  content/languages/javascript.yaml
  content/redirects.yaml
  content/snippets/js/s/convert-to-absolute-path.md
  content/snippets/js/s/create-directory-if-not-exists.md
  content/snippets/js/s/hash-node.md
  content/snippets/js/s/is-duplex-stream.md
  content/snippets/js/s/is-even.md
  content/snippets/js/s/is-odd.md
  content/snippets/js/s/is-readable-stream.md
  content/snippets/js/s/is-stream.md
  content/snippets/js/s/is-travis-ci.md
  content/snippets/js/s/is-writable-stream.md
  content/snippets/js/s/json-to-file.md
  content/snippets/js/s/nodejs-static-file-server.md
  content/snippets/js/s/number-is-even-odd.md
  content/snippets/js/s/read-file-lines.md
  content/snippets/js/s/uuid-generator-node.md
  content/snippets/js/s/variable-hoisting.md
  src/blocks/models/snippet.js
  src/settings/tags.js
Labels: js, snippet, collection, content, backend, web

#2038 Content updates
  content/redirects.yaml
  content/snippets/js/s/first-last-n-elements.md
  content/snippets/js/s/first-n-elements.md
  content/snippets/js/s/hash-browser.md
  content/snippets/js/s/hash-node.md
  content/snippets/js/s/hash-sha-256.md
  content/snippets/js/s/last-n-elements.md
  content/snippets/js/s/n-max-elements.md
  content/snippets/js/s/n-min-elements.md
  content/snippets/js/s/n-min-max-elements-in-array.md
  content/snippets/js/s/number-is-even-odd.md
Labels: js, snippet, content

#2041 Content updates
  content/collections/js/array-tricks.yaml
  content/redirects.yaml
  content/snippets/js/s/array-head-tail.md
  content/snippets/js/s/array-head.md
  content/snippets/js/s/array-tail.md
Labels: js, snippet, collection, content

#2042 Set up infrastructure for prepared queries
  src/blocks/application.js
  src/blocks/utilities/preparedQueries.js
Labels: backend, web

#2044 Content updates
  content/redirects.yaml
  content/snippets/js/s/bifurcate-array-based-on-function.md
  content/snippets/js/s/bifurcate-array-based-on-values.md
  content/snippets/js/s/bifurcate-array.md
  content/snippets/js/s/for-each-right.md
Labels: js, snippet, content

#2049 Cleaning up grammar in 5-tips-for-better-pull-requests.md
  content/snippets/git/s/5-tips-for-better-pull-requests.md
Labels: git, snippet, content

#2060 fix typo
  content/snippets/git/s/update-commit-message-or-contents.md
Labels: git, snippet, content

#2056 fix git syntax
  content/snippets/git/s/purge-file.md
Labels: git, snippet, content

#2058 Add more examples
  content/snippets/git/s/set-text-editor.md
Labels: git, snippet, content

#2062 Content updates
  content/snippets/js/s/run-promises-in-series.md
  src/settings/global.js
Labels: js, snippet, content, web

#2061 Watch mode - Snippets
  package.json
  src/blocks/application.js
  src/blocks/extractor/extractor.js
  src/blocks/utilities/fileWatcher.js
  src/blocks/writers/pageWriter.js
  src/scripts/develop.js
  src/scripts/watch.js
Labels: backend, development, web

#2063 Prepared queries enhancements
  src/blocks/utilities/preparedQueries.js
Labels: backend, web

#2064 Content updates
  content/collections/js/css-manipulation.yaml
  content/languages/javascript.yaml
  content/redirects.yaml
  content/snippets/js/s/hide-html-elements.md
  content/snippets/js/s/prefix-css-property.md
  content/snippets/js/s/remove-attributes.md
  content/snippets/js/s/show-hide-html-elements.md
  content/snippets/js/s/show-html-elements.md
Labels: js, snippet, collection, content

#2066 Prepared queries - Page performance
  .gitignore
  src/blocks/utilities/csvHandler.js
  src/blocks/utilities/preparedQueries.js
Labels: backend, development, web
